**/*.log
**/*.pem
**/*.tsbuildinfo

**/.cache
**/.env
**/.next
**/.output
**/.trigger
**/.tshy
**/.tshy-build
**/.turbo
**/.vercel
**/.wrangler

**/dist
**/node_modules

apps/webapp/build
apps/webapp/public/build

cypress/screenshots
cypress/videos

apps/**/styles/tailwind.css
packages/**/styles/tailwind.css

.changeset
.DS_Store
.git
.github
.idea
.pnp
.pnp.js
.vscode

coverage
build
docs
examples
out
references

CHANGESETS.md
CONTRIBUTING.md
README.md
LICENSE
