# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

postgres-data
# dependencies
node_modules
.pnp
.pnp.js

# testing
coverage

# next.js
.next/
out/
dist
packages/**/dist

# Tailwind
apps/**/styles/tailwind.css
packages/**/styles/tailwind.css

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env.docker
.docker/*.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# turbo
.turbo
.vercel
.cache
.env
.output
apps/**/public/build
.tests-container-id.txt
.sentryclirc
.buildt

**/tmp/
/test-results/
/playwright-report/
/playwright/.cache/

.cosine
.trigger
.tshy*
.yarn
*.tsbuildinfo
/packages/cli-v3/src/package.json
/.vs/trigger.dev/FileContentIndex/05536c54-3db6-4b80-9a12-d86b750217d1.vsidx
/.vs/trigger.dev/FileContentIndex/8cea524c-d508-4d3b-8ab5-61e62dfd862f.vsidx
/.vs/trigger.dev/v17/.wsuo
/.vs/trigger.dev/v17/DocumentLayout.json
