/* Tooltip style on the code block */
/* div[class="absolute top-11 left-1/2 transform -translate-x-1/2 -translate-y-1/2 hidden group-hover:block text-white rounded-lg px-1.5 py-0.5 text-xs bg-primary-dark"] {
  color: #1a1b1f;
  border-radius: 0.25rem;
} */

/* Link anchor active state - icon container */
div[class="mr-4 rounded-md p-1"] {
  border-radius: 0.25rem;
  border: 1px solid #464748;
}

/* Link anchor default state - icon container */
div[class="mr-4 rounded-md p-1 zinc-box group-hover:brightness-100 group-hover:ring-0 ring-1 ring-gray-950/5 dark:ring-gray-700/40"] {
  border-radius: 0.25rem;
  border: 1px solid transparent;
}
